
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#0f172a;
    color:white;
}

/* NAVBAR */

.navbar{
    position:fixed;
    top:0;
    width:100%;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 8%;

    background:rgba(15,23,42,0.9);

    backdrop-filter:blur(10px);

    z-index:1000;
}

.logo{
    font-size:28px;
    font-weight:700;
    color:#38bdf8;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    transition:.3s;
}

.nav-links a:hover{
    color:#38bdf8;
}

/* HERO */

.hero{
    min-height:100vh;

    display:flex;
    align-items:center;

    padding:0 8%;
}

.hero-content h3{
    color:#38bdf8;
    margin-bottom:10px;
}

.hero-content h1{
    font-size:4rem;
    margin-bottom:10px;
}

.hero-content h2{
    color:#8b5cf6;
    margin-bottom:20px;
}

.hero-content p{
    color:#cbd5e1;
    font-size:18px;
}


.hero{
    justify-content:space-between;
}

.hero-buttons{
    margin-top:30px;
    display:flex;
    gap:15px;
}

.hero-buttons i{
    margin-right:8px;
}

.btn{
    padding:14px 28px;
    border-radius:50px;
    text-decoration:none;
    font-weight:600;
    transition:.3s;
}

.primary-btn{
    background:#38bdf8;
    color:#000;
}

.primary-btn:hover{
    transform:translateY(-4px);
}

.secondary-btn{
    border:2px solid #38bdf8;
    color:#38bdf8;
}

.secondary-btn:hover{
    background:#38bdf8;
    color:#000;
}

.hero-image{

    width:350px;
    height:350px;

    border-radius:50%;

    overflow:hidden;

    border:5px solid #38bdf8;
}

.hero-image img{

    width:100%;
    height:100%;

    object-fit:cover;

    object-position:center 15%;
}




.section-title{
    text-align:center;
    font-size:2.5rem;
    color:#38bdf8;
    margin-bottom:50px;
}

/* ABOUT */

.about-card{

    max-width:900px;

    margin:auto;

    background:rgba(255,255,255,0.05);

    border:1px solid rgba(255,255,255,0.08);

    padding:40px;

    border-radius:20px;

    backdrop-filter:blur(10px);

    color:#cbd5e1;

    line-height:1.8;
}

/* ACHIEVEMENTS */

.achievement-grid{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(220px,1fr));

    gap:25px;
}

.achievement-card{

    background:rgba(255,255,255,0.05);

    padding:35px;

    border-radius:20px;

    text-align:center;

    transition:.4s;
}

.achievement-card:hover{

    transform:translateY(-10px);

    box-shadow:
    0 0 20px rgba(56,189,248,.2);
}

.achievement-card h1{

    color:#38bdf8;

    font-size:3rem;
}

.achievement-card p{

    margin-top:10px;

    color:#cbd5e1;
}

.skills-grid{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(180px,1fr));

    gap:20px;
}

.skill-card{

    background:rgba(255,255,255,0.05);

    padding:25px;

    border-radius:15px;

    text-align:center;

    transition:.3s;

    border:1px solid rgba(255,255,255,.08);
}

.skill-card:hover{

    transform:translateY(-8px) scale(1.03);

    border-color:#38bdf8;

    box-shadow:
    0 0 20px rgba(56,189,248,.25);
}


.project-grid{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(350px,1fr));

    gap:30px;
}

.project-card{

    background:#1e293b;

    border-radius:20px;

    overflow:hidden;

    transition:.4s;
}

.project-card:hover{

    transform:translateY(-12px) scale(1.02);

    box-shadow:
    0 10px 35px rgba(56,189,248,.25);
}

.project-card img{

    width:100%;

    height:220px;

    object-fit:cover;
}

.project-content{

    padding:25px;
}

.project-content h3{

    margin-bottom:15px;
}

.project-content p{

    color:#cbd5e1;

    margin-bottom:20px;
}

.tech-stack{

    display:flex;

    flex-wrap:wrap;

    gap:10px;

    margin-bottom:20px;
}

.tech-stack span{

    background:#38bdf8;

    color:black;

    padding:6px 12px;

    border-radius:20px;

    font-size:12px;

    font-weight:600;
}

.project-btn{

    display:inline-block;

    text-decoration:none;

    background:#8b5cf6;

    color:white;

    padding:12px 22px;

    border-radius:30px;

    transition:.3s;
}

.project-btn:hover{

    transform:translateY(-3px);

    box-shadow:0 8px 20px rgba(139,92,246,.3);
}



.leetcode-container{

    display:flex;

    align-items:center;

    gap:40px;

    flex-wrap:wrap;
}

.leetcode-image{

    flex:1;
}



.leetcode-content{

    flex:1;
}

.leetcode-content h3{

    color:#38bdf8;

    margin-bottom:20px;
}

.leetcode-content p{

    color:#cbd5e1;

    margin-bottom:25px;
}



/* CONTACT */

.contact-card{

    max-width:800px;

    margin:auto;

    text-align:center;

    background:rgba(255,255,255,.05);

    padding:40px;

    border-radius:20px;
}

.contact-card h3{

    margin-bottom:20px;
}

.contact-card p{

    color:#cbd5e1;

    margin-bottom:30px;
}

.contact-links{

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;
}

.contact-links a{

    width:60px;
    height:60px;

    display:flex;
    align-items:center;
    justify-content:center;

    border-radius:50%;

    font-size:24px;

    background:#1e293b;

    color:#38bdf8;

    text-decoration:none;

    transition:.3s;
}

.hamburger{
    display:none;
    font-size:28px;
    cursor:pointer;
}

/* MOBILE */

@media(max-width:900px){

    .hero{
        flex-direction:column-reverse;
        text-align:center;
        gap:50px;
        padding-top:120px;
    }

.hero-image{
    width:250px;
    height:250px;
}

    .hero-content h1{
    font-size:2.8rem;
    line-height:1.1;
}

    .nav-links{
        display:none;
        position:absolute;
        top:80px;
        right:20px;

        background:#1e293b;

        flex-direction:column;

        width:220px;

        padding:20px;

        border-radius:15px;
    }

    .nav-links.active{
        display:flex;
    }

    .hamburger{
        display:block;
    }

    .leetcode-container{
        flex-direction:column;
    }

    .contact-links{
        flex-direction:column;
    }
}

#typing::after{
    content:"|";
    color:#38bdf8;
    animation:blink 1s infinite;
}

@keyframes blink{
    50%{
        opacity:0;
    }
}

.leetcode-image img{

    width:100%;

    border-radius:15px;

    border:2px solid rgba(56,189,248,.3);
}

.contact-links a:hover{

    transform:translateY(-5px);

    background:#38bdf8;

    color:#0f172a;
}


.section{

    padding:100px 8%;

    animation:fadeUp 1s ease;
}

@keyframes fadeUp{

    from{

        opacity:0;

        transform:translateY(30px);
    }

    to{

        opacity:1;

        transform:translateY(0);
    }
}
/* FOOTER */

footer{

    background:#020617;

    text-align:center;

    padding:30px;

    margin-top:50px;

    color:#94a3b8;
}